# Notebook to analyse the students performance on the basis of Internal-I

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('internal1.csv', index_col=0)

In [3]:
df

,OFFICE MANAGEMENT,LOGICAL ORGANISATION,C LANGUAGE,COMPUTER FUNDAMENTALS,MATHS
NAME,,,,,
TEJAS,*,31,37,28,15
KAPIL MANDAL,31,37,22,29,22
NIKHIL,34,26,12,25,7
RUPAM,45,41,40,45,27
HARSH,40,38,34,49,40
MONICA AGGARWAL,43,42,34,49,30
AYUSH SINGH,12,AB,AB,15,AB
ANKIT TIWARI,AB,15,7,16,2
ANJALI,13,19,20,35,7
VISHAL KUMAR,25,39,19,41,12
ROHAN,15,0,AB,17,5
KUNAL SAINI,10,19,12,24,22
SIMRAN JHA,17,26,AB,44,5
RIYA,26,15,AB,27,5
SHIVAM BANSAL,10,31,15,32,9
KUNDAN,25,21,17,13,6
RIYAZ,23,31,12,18,8
YOGESH,18,49,35,44,40
MOHIT GARG,14,18,24,29,5
ABHISHEK ANAND,17,20,24,26,10
SHYAMSUNDAR,20,13,11,16,5
SHUBHAM GAUR,20,0,15,21,AB
SHUBHAM SINGH,27,11,13,30,12
VIKAS K PANDEY,32,14,15,25,AB
SUNIL,17,23,10,26,2
POONAM,44,38,37,47,21
VISHAL PANDEY,38,39,21,22,5
BITTU,33,29,22,27,5
VISHWAJEET,19,24,16,23,4
ARYAMAN RANA,AB,AB,AB,25,1

In [4]:
df.columns

Index(['OFFICE MANAGEMENT', 'LOGICAL ORGANISATION', 'C LANGUAGE',
       'COMPUTER FUNDAMENTALS', 'MATHS'],
      dtype='object')

In [5]:
df.index

Index(['TEJAS', 'KAPIL MANDAL', 'NIKHIL', 'RUPAM', 'HARSH', 'MONICA AGGARWAL',
       'AYUSH SINGH', 'ANKIT TIWARI', 'ANJALI', 'VISHAL KUMAR', 'ROHAN',
       'KUNAL SAINI ', 'SIMRAN JHA', 'RIYA', 'SHIVAM BANSAL', 'KUNDAN',
       'RIYAZ', 'YOGESH', 'MOHIT GARG', 'ABHISHEK ANAND', 'SHYAMSUNDAR',
       'SHUBHAM GAUR', 'SHUBHAM SINGH', 'VIKAS K PANDEY', 'SUNIL', 'POONAM',
       'VISHAL PANDEY', 'BITTU', 'VISHWAJEET', 'ARYAMAN RANA'],
      dtype='object', name='NAME')

In [6]:
harsh = np.array(df.loc['HARSH', :])

In [7]:
harsh

array(['40', '38', '34', 49, '40'], dtype=object)

In [8]:
df.replace(to_replace='AB',
          value=0, inplace=True)

In [9]:
df.replace(to_replace='*',
          value=0, inplace=True)

In [10]:
df

,OFFICE MANAGEMENT,LOGICAL ORGANISATION,C LANGUAGE,COMPUTER FUNDAMENTALS,MATHS
NAME,,,,,
TEJAS,0,31,37,28,15
KAPIL MANDAL,31,37,22,29,22
NIKHIL,34,26,12,25,7
RUPAM,45,41,40,45,27
HARSH,40,38,34,49,40
MONICA AGGARWAL,43,42,34,49,30
AYUSH SINGH,12,0,0,15,0
ANKIT TIWARI,0,15,7,16,2
ANJALI,13,19,20,35,7
VISHAL KUMAR,25,39,19,41,12
ROHAN,15,0,0,17,5
KUNAL SAINI,10,19,12,24,22
SIMRAN JHA,17,26,0,44,5
RIYA,26,15,0,27,5
SHIVAM BANSAL,10,31,15,32,9
KUNDAN,25,21,17,13,6
RIYAZ,23,31,12,18,8
YOGESH,18,49,35,44,40
MOHIT GARG,14,18,24,29,5
ABHISHEK ANAND,17,20,24,26,10
SHYAMSUNDAR,20,13,11,16,5
SHUBHAM GAUR,20,0,15,21,0
SHUBHAM SINGH,27,11,13,30,12
VIKAS K PANDEY,32,14,15,25,0
SUNIL,17,23,10,26,2
POONAM,44,38,37,47,21
VISHAL PANDEY,38,39,21,22,5
BITTU,33,29,22,27,5
VISHWAJEET,19,24,16,23,4
ARYAMAN RANA,0,0,0,25,1

In [11]:
df.iloc[[0], :]

,OFFICE MANAGEMENT,LOGICAL ORGANISATION,C LANGUAGE,COMPUTER FUNDAMENTALS,MATHS
NAME,,,,,
TEJAS,0,31,37,28,15

# Office Management Tools

In [12]:
max_score=df[df[['OFFICE MANAGEMENT']].apply(lambda x: x[0].isdigit(), axis=1)].max()

AttributeError: 'int' object has no attribute 'isdigit'

In [19]:
df.sort_values('C LANGUAGE', ascending=False)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
df

In [ ]:
max_score_omt = max_score['OFFICE MANAGEMENT']

In [ ]:
name_omt_max = df[df['OFFICE MANAGEMENT'] == max_score_omt].index.values

In [ ]:
name_omt_max

In [ ]:
min_score=df[df[['OFFICE MANAGEMENT']].apply(lambda x: x[0].isdigit(), axis=1)].min()

In [ ]:
min_score

In [ ]:
min_score_omt = min_score['OFFICE MANAGEMENT']

In [ ]:
min_score_omt

In [ ]:
name_omt_min = df[df['OFFICE MANAGEMENT'] == min_score_omt].index.values

In [ ]:
name_omt_min

In [ ]:
lst = df.loc[:, 'OFFICE MANAGEMENT']
lst.index

In [ ]:
present_count_omt = 0
absent_count_omt = 0
pass_count_omt = 0
fail_count_omt = 0

for i in lst:
    try:
        if pd.to_numeric(i) >= 16.5:
            pass_count_omt += 1
        
    except Exception as e:
        fail_count_omt += 1
    
    if i == '*' or i == 'AB':
        absent_count_omt += 1
        
    else:
        present_count_omt += 1
        flst.append(i)
        
fail_count_omt = len(df.index) - pass_count_omt

*Pie chart visualisation for present/absent ratios*

In [ ]:
labels = 'Present', 'Absent/Not Found'
sizes = [present_count_omt, absent_count_omt]
explode = [0, 0.1]
fig1, ax1 = plt.subplots()
ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

*Pie chart visualisation for pass/fail ratios*

In [ ]:
labels = 'Pass', 'Fail'
sizes = [pass_count_omt, fail_count_omt]
explode = [0, 0.1]
fig1, ax1 = plt.subplots()
ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

In [ ]:
newdf = df.sort_values('OFFICE MANAGEMENT', ascending=False)

In [ ]:
newdf.describe().index